## Problem definition
How do economical factors influence health across countries?

## Data acquisition
- Economic factors: agriculture_gdp_pct, industry_gdp_pct, services_gdp_pct
- Source: Gapminder

## Imports

In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Read, tidy and clean data

In [69]:
# change first column name
def rename_first_column(dataframe):
    dataframe.columns.values[0] = "country"
    
    return dataframe

In [70]:
# melt dataframe to the desired columns
def melt_data(dataframe, column_name):
    dataframe = pd.melt(dataframe,
        id_vars = ["country"],
        var_name = "year",
        value_name = column_name)
                        
    return dataframe

In [91]:
# remove rows where all features are not presented
def drop_na(dataframe, columns):
    dataframe.dropna(subset = columns, how = 'all', inplace = True)
    
    return dataframe

In [93]:
agro_data = pd.read_excel("data/agriculture_gdp_pct.xlsx")
agro_data = rename_first_column(agro_data)
agro_data.head()

,country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.158479,46.013843,41.594103,39.480416,32.589058,34.494833,28.134488,31.177550,29.915323,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.311622,23.996207,23.499999,22.800000,22.000000,21.117256,20.304655,20.401935,20.160029,20.04532
4,Algeria,NaN,NaN,NaN,NaN,12.876213,9.137256,10.330666,10.853374,9.030165,...,10.003598,10.491237,10.188493,8.221657,7.988789,8.025346,6.920100,6.915571,6.915571,NaN

In [94]:
agro_data = melt_data(agro_data, "agriculture")
agro_data.head()

                 country  year  agriculture
0               Abkhazia  1961          NaN
1            Afghanistan  1961          NaN
2  Akrotiri and Dhekelia  1961          NaN
3                Albania  1961          NaN
4                Algeria  1961          NaN

In [95]:
industry_data = pd.read_excel("data/industry_gdp_pct.xlsx")
industry_data = rename_first_column(industry_data)
industry_data.head()

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.722679,18.650846,23.358852,25.275687,28.204721,25.818468,25.978376,21.214793,22.167053,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.517023,21.085911,21.199999,21.500000,20.298799,19.664773,19.086442,19.358809,19.309736,NaN
2,Algeria,NaN,NaN,NaN,NaN,NaN,37.72878,41.105581,42.385889,42.263761,...,53.088639,54.817740,56.354391,61.310433,62.297104,61.283007,62.118578,62.123462,62.123462,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
industry_data = melt_data(industry_data, "industry")
industry_data.head()

          country  year  industry
0     Afghanistan  1960       NaN
1         Albania  1960       NaN
2         Algeria  1960       NaN
3  American Samoa  1960       NaN
4         Andorra  1960       NaN

In [97]:
services_data = pd.read_excel("data/services_gdp_pct.xlsx")
services_data = rename_first_column(services_data)
services_data.head()

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.118842,35.335311,35.047044,35.243897,39.206221,39.686699,45.887136,47.607657,47.917623,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.171355,54.917882,55.300002,55.700000,57.701201,59.217972,60.608903,60.239255,60.530235,NaN
2,Algeria,NaN,NaN,NaN,NaN,NaN,49.395007,49.757166,47.28345,46.882862,...,36.907758,34.691024,33.457119,30.467911,29.714108,30.691648,30.961322,30.960967,30.960967,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
services_data = melt_data(services_data, "services")
services_data.head()

          country  year  services
0     Afghanistan  1960       NaN
1         Albania  1960       NaN
2         Algeria  1960       NaN
3  American Samoa  1960       NaN
4         Andorra  1960       NaN

In [99]:
agro_data.info(); industry_data.info(); services_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13770 entries, 0 to 13769
Data columns (total 3 columns):
country        13770 non-null object
year           13770 non-null object
agriculture    6361 non-null float64
dtypes: float64(1), object(2)
memory usage: 322.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11076 entries, 0 to 11075
Data columns (total 3 columns):
country     11076 non-null object
year        11076 non-null object
industry    6349 non-null float64
dtypes: float64(1), object(2)
memory usage: 259.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11076 entries, 0 to 11075
Data columns (total 3 columns):
country     11076 non-null object
year        11076 non-null object
services    6311 non-null float64
dtypes: float64(1), object(2)
memory usage: 259.7+ KB

In [100]:
# combine the three dataframes into one
merge_cols = ['country', 'year']
economy_data = agro_data.merge(industry_data, on = merge_cols).merge(services_data, on = merge_cols)
economy_data.shape

                        country  year  agriculture   industry   services
0                   Afghanistan  1961          NaN        NaN        NaN
1                       Albania  1961          NaN        NaN        NaN
2                       Algeria  1961          NaN        NaN        NaN
3                American Samoa  1961          NaN        NaN        NaN
4                       Andorra  1961          NaN        NaN        NaN
5                        Angola  1961          NaN        NaN        NaN
6           Antigua and Barbuda  1961          NaN        NaN        NaN
7                     Argentina  1961          NaN        NaN        NaN
8                       Armenia  1961          NaN        NaN        NaN
9                         Aruba  1961          NaN        NaN        NaN
10                    Australia  1961          NaN        NaN        NaN
11                      Austria  1961          NaN        NaN        NaN
12                   Azerbaijan  1961          NaN        NaN        NaN
13                      Bahamas  1961          NaN        NaN        NaN
14                      Bahrain  1961          NaN        NaN        NaN
15                   Bangladesh  1961          NaN        NaN        NaN
16                     Barbados  1961    20.249653  21.636616  58.113731
17                      Belarus  1961          NaN        NaN        NaN
18                      Belgium  1961          NaN        NaN        NaN
19                       Belize  1961          NaN        NaN        NaN
20                        Benin  1961    46.193786   9.813302  43.992767
21                      Bermuda  1961          NaN        NaN        NaN
22                       Bhutan  1961          NaN        NaN        NaN
23                      Bolivia  1961          NaN        NaN        NaN
24       Bosnia and Herzegovina  1961          NaN        NaN        NaN
25                     Botswana  1961    41.870602  12.281313  45.848085
26                       Brazil  1961    19.496612  41.745238  38.758144
27                       Brunei  1961          NaN        NaN        NaN
28                     Bulgaria  1961          NaN        NaN        NaN
29                 Burkina Faso  1961    39.599328  20.565685  39.834986
...                         ...   ...          ...        ...        ...
10221                 Swaziland  2011     7.852477        NaN        NaN
10222                    Sweden  2011          NaN        NaN        NaN
10223               Switzerland  2011          NaN        NaN        NaN
10224                     Syria  2011          NaN        NaN        NaN
10225                Tajikistan  2011    19.885678        NaN        NaN
10226                  Tanzania  2011    27.108696        NaN        NaN
10227                  Thailand  2011    12.368584        NaN        NaN
10228               Timor-Leste  2011          NaN        NaN        NaN
10229                      Togo  2011    43.156745        NaN        NaN
10230                     Tonga  2011          NaN        NaN        NaN
10231       Trinidad and Tobago  2011          NaN        NaN        NaN
10232                   Tunisia  2011     8.319699        NaN        NaN
10233                    Turkey  2011     9.159223        NaN        NaN
10234              Turkmenistan  2011    12.000000        NaN        NaN
10235  Turks and Caicos Islands  2011          NaN        NaN        NaN
10236                    Tuvalu  2011          NaN        NaN        NaN
10237                    Uganda  2011    23.417298        NaN        NaN
10238                   Ukraine  2011     8.293667        NaN        NaN
10239      United Arab Emirates  2011          NaN        NaN        NaN
10240            United Kingdom  2011          NaN        NaN        NaN
10241             United States  2011          NaN        NaN        NaN
10242                   Uruguay  2011    10.075090        NaN        NaN
10243                Uzbekistan  2011    18.899358        NaN        NaN
10244                   Vanuatu  2011          NaN        NaN        NaN
10245                 Venezuela  2011          NaN        NaN        NaN
10246        West Bank and Gaza  2011          NaN        NaN        NaN
10247                   Vietnam  2011    19.662869        NaN        NaN
10248     Virgin Islands (U.S.)  2011          NaN        NaN        NaN
10249                    Zambia  2011    20.721860        NaN        NaN
10250                  Zimbabwe  2011    12.760264        NaN        NaN

[10251 rows x 5 columns]

In [101]:
# remove rows where all of the three features are not presented
economy_data = drop_na(economy_data, columns = ['agriculture', 'industry', 'services'])
economy_data.shape

                country  year  agriculture   industry   services
16             Barbados  1961    20.249653  21.636616  58.113731
20                Benin  1961    46.193786   9.813302  43.992767
25             Botswana  1961    41.870602  12.281313  45.848085
26               Brazil  1961    19.496612  41.745238  38.758144
29         Burkina Faso  1961    39.599328  20.565685  39.834986
36                 Chad  1961    39.868460  10.062455  50.069085
38                Chile  1961    10.571570  36.284203  53.043973
39                China  1961    35.510490  32.592551  31.948251
43          Congo, Rep.  1961    20.491801  18.010751  61.474925
45        Cote d'Ivoire  1961    46.406835  13.878975  39.714193
64                Gabon  1961    35.211844  31.565363  33.222791
68                Ghana  1961    39.676797        NaN        NaN
77               Guyana  1961    26.398055  31.121917  42.480028
79             Honduras  1961    38.801359  18.334878  42.863763
81              Hungary  1961    18.455982  60.894676  20.649342
83                India  1961    41.773984  20.207298  37.798328
84            Indonesia  1961    45.766129  16.330645  37.903226
95                Kenya  1961    36.815412  18.517395  44.667227
101             Lesotho  1961    94.217636        NaN        NaN
110              Malawi  1961    50.290456  10.456432  39.253112
111            Malaysia  1961    35.625082  21.273318  43.101600
116          Mauritania  1961    43.367754  28.574103  28.058143
134               Niger  1961    73.887165   3.446358  22.666507
138                Oman  1961    74.233115   7.975459  17.791426
139            Pakistan  1961    45.043714  16.786828  38.169456
142    Papua New Guinea  1961    50.305021  13.796340  35.898639
143            Paraguay  1961    35.998440  19.597297  44.404268
144                Peru  1961    21.073568  30.448669  48.477763
145         Philippines  1961    26.776521  31.648511  41.574969
165             Somalia  1961    70.815897   7.239600  21.944508
...                 ...   ...          ...        ...        ...
10183         Nicaragua  2011    21.499700        NaN        NaN
10189          Pakistan  2011    21.620113        NaN        NaN
10191            Panama  2011     3.998964        NaN        NaN
10192  Papua New Guinea  2011    35.886553        NaN        NaN
10193          Paraguay  2011    21.994102        NaN        NaN
10194              Peru  2011     7.823537        NaN        NaN
10195       Philippines  2011    13.036286        NaN        NaN
10200           Romania  2011     6.973477        NaN        NaN
10207           Senegal  2011    17.836019        NaN        NaN
10208            Serbia  2011     9.044022        NaN        NaN
10210      Sierra Leone  2011    44.380833        NaN        NaN
10211         Singapore  2011     0.033870        NaN        NaN
10216      South Africa  2011     2.395952        NaN        NaN
10218         Sri Lanka  2011    13.691009        NaN        NaN
10219             Sudan  2011    27.245687        NaN        NaN
10221         Swaziland  2011     7.852477        NaN        NaN
10225        Tajikistan  2011    19.885678        NaN        NaN
10226          Tanzania  2011    27.108696        NaN        NaN
10227          Thailand  2011    12.368584        NaN        NaN
10229              Togo  2011    43.156745        NaN        NaN
10232           Tunisia  2011     8.319699        NaN        NaN
10233            Turkey  2011     9.159223        NaN        NaN
10234      Turkmenistan  2011    12.000000        NaN        NaN
10237            Uganda  2011    23.417298        NaN        NaN
10238           Ukraine  2011     8.293667        NaN        NaN
10242           Uruguay  2011    10.075090        NaN        NaN
10243        Uzbekistan  2011    18.899358        NaN        NaN
10247           Vietnam  2011    19.662869        NaN        NaN
10249            Zambia  2011    20.721860        NaN        NaN
10250          Zimbabwe  2011    12.760264        NaN        NaN

[6169 rows x 5 columns]

In [102]:
# sort by (country, year), reset index
economy_data.sort_values(by = merge_cols, inplace = True)
economy_data.reset_index(drop = True, inplace = True)

economy_data.head(10)

          country  year  agriculture   industry   services
0     Afghanistan  2002    45.158479  19.722679  35.118842
1     Afghanistan  2003    46.013843  18.650846  35.335311
2     Afghanistan  2004    41.594103  23.358852  35.047044
3     Afghanistan  2005    39.480416  25.275687  35.243897
4     Afghanistan  2006    32.589058  28.204721  39.206221
5     Afghanistan  2007    34.494833  25.818468  39.686699
6     Afghanistan  2008    28.134488  25.978376  45.887136
7     Afghanistan  2009    31.177550  21.214793  47.607657
8     Afghanistan  2010    29.915323  22.167053  47.917623
9         Albania  1980    33.600206  44.999999  21.399794
10        Albania  1981    32.400299  43.000062  24.599639
11        Albania  1982    31.699711  43.800170  24.500119
12        Albania  1983    34.100098  43.300049  22.599853
13        Albania  1984    33.099941  43.999999  22.900060
14        Albania  1985    34.600012  43.300126  22.099861
15        Albania  1986    34.000000  44.200115  21.799885
16        Albania  1987    33.200025  45.800152  20.999824
17        Albania  1988    31.499882  46.299975  22.200143
18        Albania  1989    32.300197  44.800063  22.899739
19        Albania  1990    35.900790  48.200798  15.898412
20        Albania  1991    39.295295  42.696905  18.007799
21        Albania  1992    51.641870  23.320559  25.037571
22        Albania  1993    54.640976  22.901707  22.457317
23        Albania  1994    53.620981  21.730684  24.648335
24        Albania  1995    55.812145  22.497942  21.689914
25        Albania  1996    33.025610  20.165271  46.809119
26        Albania  1997    33.622147  18.682842  47.695011
27        Albania  1998    32.602719  16.027788  51.369493
28        Albania  1999    29.509185  16.776365  53.714450
29        Albania  2000    29.130583  19.009227  51.860190
...           ...   ...          ...        ...        ...
6139     Zimbabwe  1982    16.119742  24.708534  59.171722
6140     Zimbabwe  1983    11.237704  29.036004  59.726290
6141     Zimbabwe  1984    14.858272  32.609565  52.532162
6142     Zimbabwe  1985    22.673569  28.049430  49.277001
6143     Zimbabwe  1986    17.760783  31.336310  50.902913
6144     Zimbabwe  1987    14.407527  32.451241  53.141235
6145     Zimbabwe  1988    16.382146  33.218480  50.399372
6146     Zimbabwe  1989    14.930311  35.091960  49.977725
6147     Zimbabwe  1990    16.476304  33.107654  50.416041
6148     Zimbabwe  1991    15.267262  37.416776  47.315959
6149     Zimbabwe  1992     7.413793  40.862069  51.724135
6150     Zimbabwe  1993    15.038912  33.347935  51.613152
6151     Zimbabwe  1994    18.973397  32.384532  48.642073
6152     Zimbabwe  1995    15.235193  29.076855  55.687955
6153     Zimbabwe  1996    21.771107  25.890357  52.338539
6154     Zimbabwe  1997    18.934082  25.554678  55.511235
6155     Zimbabwe  1998    21.788530  23.998298  54.213172
6156     Zimbabwe  1999    19.176678  23.679546  57.143776
6157     Zimbabwe  2000    18.261597  24.672638  57.065765
6158     Zimbabwe  2001    17.307031  22.339033  60.353935
6159     Zimbabwe  2002    14.029007  20.851589  65.119404
6160     Zimbabwe  2003    16.593401  21.291234  62.115365
6161     Zimbabwe  2004    19.575048  26.422655  54.002297
6162     Zimbabwe  2005    18.577279  28.684507  52.738214
6163     Zimbabwe  2006    20.281820  32.327080  47.391100
6164     Zimbabwe  2007    21.597907  33.074954  45.327140
6165     Zimbabwe  2008    19.398885  31.088438  49.512677
6166     Zimbabwe  2009    17.209262  27.834453  54.956285
6167     Zimbabwe  2010    16.002422  26.800451  57.197128
6168     Zimbabwe  2011    12.760264        NaN        NaN

[6169 rows x 5 columns]

In [103]:
# count the rest NaNs in df
economy_data.isnull().sum()

country          0
year             0
agriculture    114
industry       176
services       214
dtype: int64

In [104]:
# convert year to numeric type
economy_data.year = economy_data.year.astype(int)
economy_data.year.dtype

dtype('int64')

In [107]:
# fill NaN values with the mean value of each column
economy_data.agriculture.fillna(economy_data.agriculture.dropna().mean(), inplace = True)
economy_data.industry.fillna(economy_data.industry.dropna().mean(), inplace = True)
economy_data.services.fillna(economy_data.services.dropna().mean(), inplace = True)

economy_data.shape

(6169, 5)

In [108]:
economy_data.year.nunique()

51

In [109]:
carbon_data = pd.read_excel("data/carbon_dioxide_emissions_per_capita.xlsx")
carbon_data = rename_first_column(carbon_data)
carbon_data.head()

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654

In [110]:
carbon_data = melt_data(carbon_data, "carbon_dioxide")
carbon_data.head()

(59455, 3)

In [90]:
carbon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59455 entries, 0 to 59454
Data columns (total 3 columns):
country           59455 non-null object
year              59455 non-null object
carbon_dioxide    15072 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.4+ MB

In [111]:
carbon_data = drop_na(carbon_data, columns = ['carbon_dioxide'])
carbon_data.shape

(15072, 3)

In [113]:
carbon_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15072 entries, 219 to 59449
Data columns (total 3 columns):
country           15072 non-null object
year              15072 non-null object
carbon_dioxide    15072 non-null float64
dtypes: float64(1), object(2)
memory usage: 471.0+ KB